/*СБРОС МАРКЕРОВ СО СПИСКОВ И ПОДЧЕРКИВАНИЯ ССЫЛОК*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*ПЕРЕМЕННЫЕ*/
:root {
  --font-family-primary: "Roboto", sans-serif;

  --color-accent: #2196f3;
  --color-theme-light-primary: #212121;
  --color-theme-light-secondary: #757575;
  --color-theme-dark-primary: #ffffff;
  --color-theme-dark-secondary: rgba(255; 255; 255; 0.6);

  --background-color-secondary: #2f303a;
  --background-color-button: #2196f3;

  --latter-spacing-primary: 0.03em;
  --latter-spacing-secondary: 0.02em;

  --logo-font-family: "Ralewey", sans-serif;
  --logo-font-weight: 700;
  --logo-font-size: 26px;
  --logo-line-height: 1.19;
}

/*СТИЛИ, КОТОРЫЕ НАСЛЕДУЮТСЯ*/
body {
  font-family: var(--font-family-primary);
  font-size: 14px;
  color: var(--color-theme-light-primary);
  letter-spacing: var(--latter-spacing-primary);
}

/*ЛОГОТИП*/
.logo {
  font-family: var(--logo-font-family);
  font-weight: var(--logo-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--logo-line-height);
}
.logo-style {
  color: #2196f3;
}

/*HEDDER*/
.navigation {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: var(--latter-spacing-secondary);
}
.activ-element {
  color: var(--color-accent);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent);
}
.communication {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: var(--latter-spacing-secondary);
}
a {
  color: #212121;
  text-decoration: none;
}

/*HERO*/
.section-hiro {
  background-color: var(--background-color-secondary);
}
.headlines-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-theme-dark-primary);
}
.button-hero {
  font-family: inherit;
  background: var(--background-color-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-theme-dark-primary);
}
